<div class="container row col-12">
  <div class="todayWeather col-8 row">
    <aside class="col-5">
      <div>
        <h2>{{mockItem.results.city}}</h2>
        <h4>{{mockItem.results.date}}</h4>
      </div>

      <div class="temperature">
        <p>Temperatura:</p>
        <ul>
          <li><strong> Max: </strong> {{weatherList[0].max}}</li>
          <li><strong> Min: </strong> {{weatherList[0].min}}</li>
        </ul>
      </div>
    </aside>
    <main class="col">
      <div class="row">
        <i class="{{handdleWeatherCondition(mockItem.results.condition_slug)}} fa-2x"></i>
        <h2>{{mockItem.results.description}}</h2>
      </div>
    </main>

  </div>
  <div *ngIf="handdleImage === 'cloud'" style="background-image: url(../../../assets/cloud.png);" class="bgitem">
  </div>
  <div *ngIf="handdleImage === 'rain'" style="background-image: url(../../../assets/rain.svg);" class="bgitem">
  </div>
  <div *ngIf="handdleImage === 'sunny'" style="background-image: url(../../../assets/sunny.png);" class="bgitem">
  </div>
  <div class="dayList d-flex justify-content-around row col-12  row">
    <div *ngFor="let item of weatherList" class="otherDays p-3 col-sm-4 col-md-3 col-lg-2 col-xg-1 m-2">
      <div class="detailLine">

        <h2 class="text-center">{{item.date}}</h2>
        <div class="alignWeather">
          <i class="{{handdleWeatherCondition(item.condition)}} fa-lg align-middle "></i>
          <h2 class="text-center">
            {{item.description}}
          </h2>

        </div>
      </div>
      <div class="temperature">
        <p>Temperatura:</p>
        <ul>
          <li><strong> Max: </strong> {{weatherList[0].max}}</li>
          <li><strong> Min: </strong> {{weatherList[0].min}}</li>
        </ul>
      </div>
      <div class="row col">

        <p class="wind">Vento: </p>
        <strong>
          <p>20km/h</p>
        </strong>
      </div>

    </div>
  </div>
</div>
